{extend name="public/base" /}
{block name="title"}
    {$meta_title}
{/block}

{block name="style"}

{/block}

{block name="content"}
    <!-- Banner栏 -->
    <section class="mod-banner" id="js_banner">
        <a href="http://www.xuanfengge.com/nav" target="_blank" class="mod-banner__img banner_1" id="banner_img"></a>

        <div class="mod-banner__navi">
            <div class="js_banner_nav mod-banner_nav"></div>
            <span class="mod-banner__nav-dot"><canvas id="dotCanvas"></canvas></span>
        </div>

        <div class="mod-banner__tool">
            <span class="js_banner_prev mod-banner__tool-prev">
                <span class="mod-banner__tool-white"></span>
                <span class="mod-banner__tool-shadow"></span>
            </span>
            <span class="js_banner_next mod-banner__tool-next">
                <span class="mod-banner__tool-white"></span>
                <span class="mod-banner__tool-shadow"></span>
            </span>
        </div>
    </section>


{/block}

{block name="script"}
    <script src="__PUBLIC__/css/Nav-menu/js/banner-effect.js"></script>
    <script type="text/javascript">
        var banner = new Banner({
            banner: '#banner_img',
            index: 0,
            autoplay: 8000,
            width: 1200,
            height: 300,
            images: [{
                url: media+'/banner/1.0bd56759.jpg',
                link: 'http://www.xuanfengge.com/nav'
            }, {
                url: media+'/banner/4.27ab97fe.jpg',
                link: 'javascript:;'
            }, {
                url: media+'/banner/6.c6b4ec87.jpg',
                link: '/web/img'
            }, {
                url: media+'/banner/5.840dc8de.jpg',
                link: 'javascript:;'
            }, {
                url: media+'/banner/2.4a62be5c.jpg',
                link: 'http://www.xuanfengge.com/funny'
            }, {
                url: media+'/banner/3.c7eafbfc.jpg',
                link: 'http://www.xuanfengge.com/'
            }],

            preloadImages: true,
            pagination: '.js_banner_nav',
            paginationClick: true,
            prevButton: '.js_banner_prev',
            nextButton: '.js_banner_next',

            Effects: { 'prev': 'turnEffect', 'next': 'boomEffect', 'navi': 'pageEffect' },
        });
    </script>
{/block}