{extend name="Ace:public" /}

{block name="style"}
    <style type="text/css">
        .col-sm-5{ padding: 0; margin-right:20px; }
    </style>
{/block}

{block name="content"}
    <div class="main" style="margin:10px 20px;">
        <h2>富文本编辑器</h2><hr>

        <!-- Kindeditor编辑器 -->
        <div class="panel panel-info col-sm-5">
            <div class="panel-heading">
                <h3 class="panel-title">Kindeditor编辑器</h3>
            </div>

            <div class="kindeditor">
                <!-- 1.编辑器位置 -->
                <div style="margin:20px 12px;">
                    <textarea id="editor_id" name="content" style="width:670px; height:375px;">
                        &lt;strong&gt;HTML内容&lt;/strong&gt;
                    </textarea>

                    <button style="margin-top:10px;" onclick="getEditorData()">获取内容</button>
                </div>

                <!-- 2.引入资源、实例化 -->
                <script src="__PLUGINS__/editor/kindeditor-4.1.10/kindeditor-min.js"></script>
                <script src="__PLUGINS__/editor/kindeditor-4.1.10/lang/zh_CN.js"></script>
                <script type="text/javascript">
                    KindEditor.options.filterMode = false; //关闭过滤模式，保留所有HTML标签

                    KindEditor.ready(function(K) { //创建编辑器
                        window.editor = K.create('#editor_id');
                    });

                    function getEditorData() {  //取得编辑器内容
                        //return window.editor.html();
                        var html = window.editor.html();
                        alert(html);
                    }
                </script>

            </div>
        </div>

        <!-- UEditor编辑器 -->
        <div class="panel panel-info col-sm-5">
            <div class="panel-heading">
                <h3 class="panel-title">UEditor编辑器</h3>
            </div>

            <div class="kindeditor">
                <!-- 1.编辑器位置 -->
                <div style="margin:20px 12px;">
                    <div id="ueditorContainer" style="width:670px; height:250px"></div>

                    <div style="margin-top:10px;">
                        <button onclick="getContent()">获取内容</button>
                        <button onclick="getContentTxt()">纯文本内容</button>
                        <button onclick="hasContent()">判断是否有内容</button>
                    </div>
                </div>

                <!-- 2.引入资源、实例化 -->
                <script src="__PLUGINS__/editor/ueditor-1.4.3.3/ueditor.config.js"></script>
                <script src="__PLUGINS__/editor/ueditor-1.4.3.3/ueditor.all.min.js"> </script>
                <script src="__PLUGINS__/editor/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>
                <script type="text/javascript">
                        //实例化
                        var ue = UE.getEditor('ueditorContainer');

                        //获取编辑器的文本
                        function getContent(){
                            var cc = ue.getContent();
                            alert(cc);
                        }
                        //获取纯文本
                        function getContentTxt(){
                            var cc = ue.getContentTxt();
                            alert(cc);
                        }
                        //判断是否有内容
                        function hasContent() {
                            var arr = [];
                            arr.push("判断结果为：");
                            arr.push(ue.hasContents());
                            alert(arr.join("\n"));
                        }
                </script>

            </div>
        </div>


    </div>
{/block}

{block name="script"}

{/block}
